@model PokedexMVC.Application.Viewmodels.Pokemon.NewPokemonVm

@{
    ViewData["Title"] = "EditPokemon";
}

<h1>EditPokemon</h1>

<h4>NewPokemonVm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPokemon">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">                
                <input type="hidden" asp-for="Id" class="form-control" />                
            </div>
            <div class="form-group">
                <label asp-for="PokedexNumber" class="control-label"></label>
                <input asp-for="PokedexNumber" class="form-control" />
                <span asp-validation-for="PokedexNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
